

<!--navbar out-->
    <section class="u-align-center u-clearfix u-image u-shading u-section-1" id="sec-c3cd" data-image-width="1709" data-image-height="1123">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1">La aventura perfecta...</h2>
        <h4 class="u-custom-font u-text u-text-2">Recuerdos para toda la vida </h4>
        <div class="u-align-left u-form u-form-1">
          <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-30 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="formItinerario">
            <div class="u-form-email u-form-group u-label-top">
              <label for="email-f997" class="u-form-control-hidden u-label u-text-white u-label-1"></label>
              <input [(ngModel)]="destinoItinerario" type="text" placeholder="DESTINO" id="email-f997" name="DESTINO" class="u-border-2 u-border-white u-input u-input-rectangle u-text-body-color u-input-1" required="" autofocus="autofocus">
            </div>
            <div class="u-form-group u-label-top u-form-group-2">
              <label for="text-73c5" class="u-form-control-hidden u-label u-text-white u-label-2"></label>
              <input [(ngModel)]="personasItinerario" type="text" placeholder="NUMERO DE PERSONAS " id="text-73c5" name="NUMERO DE PERSONAS " class="u-border-2 u-border-white u-input u-input-rectangle u-text-body-color u-input-2">
            </div>
            <div class="u-form-group u-form-select u-label-top u-form-group-3">
              <label for="select-09e3" class="u-form-control-hidden u-label u-text-white u-label-3"></label>
              <div class="u-form-select-wrapper">
                <select [(ngModel)]="ninosItinerario" id="select-09e3" name="select" class="u-border-2 u-border-white u-input u-input-rectangle u-text-body-color u-input-3">
                  <option value="" disabled selected>¿Vas con niños?</option>
                  <option value="No" data-calc="No">No viajo con niños</option>
                  <option value="Si" data-calc="Si" selected="selected">Viajo con niños</option>
                </select>
                <svg class="u-caret u-caret-svg u-text-body-color" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
              </div>
            </div>
            <div class="u-form-group u-label-top u-form-group-4">
              <label for="text-a240" class="u-form-control-hidden u-label u-text-white u-label-4"></label>
              <input [(ngModel)]="numDiasItinerario" type="text" placeholder="NUMERO DE DIAS " id="text-a240" name="NUMERO DE DIAS " class="u-border-2 u-border-white u-input u-input-rectangle u-text-body-color u-input-4">
            </div>
            <div class="u-form-group u-label-top u-form-group-5">
              <label for="text-1c4c" class="u-form-control-hidden u-label u-text-white u-label-5"></label>
              <input [(ngModel)]="preferenciasItinerario" type="text" placeholder="PREFERENCIAS" id="text-1c4c" name="PREFERENCIAS" class="u-border-2 u-border-white u-input u-input-rectangle u-text-body-color u-input-5">
            </div>
            <div class="u-form-group u-label-top u-form-group-6">
              <label for="text-5ff2" class="u-form-control-hidden u-label u-text-white u-label-6"></label>
              <input [(ngModel)]="evitarItinerario" type="text" placeholder="COSAS QUE DESEAS EVITAR" id="text-5ff2" name="COSAS QUE DESEAS EVITAR" class="u-border-2 u-border-white u-input u-input-rectangle u-text-body-color u-input-6">
            </div>
            <div class="u-align-center u-form-group u-form-submit u-label-top">
              <input type="submit" value="submit" class="u-form-control-hidden">
              <a class="u-active-grey-5 u-border-none u-btn enviar u-button-style u-custom-color-7 u-hover-custom-color-4 u-btn-1"(click)="enviarFormulario()">Generar itinerario </a>
            </div>
            <div class="u-form-send-message u-form-send-success">Buscando actividades</div>
            <div class="u-form-send-error u-form-send-message">Vuelva a intentarlo</div>
            <input type="hidden" value="" name="recaptchaResponse">
            <input type="hidden" name="formServices" value="5aacb206-cf53-9644-3d73-9ff968e12867">
          </form>
        </div>
      </div>

      <!-- Spinner -->
      <div *ngIf="loading" class="spinner">
        <div class="loader"></div>
        <div class="spinner-text">Generando Itinerario</div>
      </div>
    </section>
    
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-04ba">
      <div class="u-clearfix u-sheet u-sheet-1">
          <p class="u-small-text u-text u-text-variant u-text-1">H I K E<br>Copyright © 2024 H I K E. <br>All rights reserved.
          </p>
      </div>
  </footer>
    
  

