.u-section-1 {
    min-height: 1028px;
  }
  
  .u-section-1 .u-image-1 {
    height: 733px;
    object-position: 48.73% 0%;
    background-position: 50% 19.23%;
    filter: brightness(0.7);
    margin: 0;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    width: 1140px;
    margin: -182px auto 0;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 365px;
    background-image: none;
    --radius: 30px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 26px 30px;
  }
  
  .u-section-1 .u-icon-1 {
    height: 84px;
    width: 84px;
    margin: 0 auto;
    padding: 0;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 400;
    font-size: 1.875rem;
    margin: 14px 0 0;
  }
  
  .u-section-1 .u-text-2 {
    font-style: italic;
    font-size: 1.125rem;
    margin: 20px 0 0;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 423px;
    --radius: 30px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 33px 30px;
  }
  
  .u-section-1 .u-icon-2 {
    height: 77px;
    width: 77px;
    margin: 0 105px 0 auto;
    padding: 0;
  }
  
  .u-section-1 .u-text-3 {
    font-weight: 400;
    font-size: 1.875rem;
    margin: 14px 0 0;
  }
  
  .u-section-1 .u-text-4 {
    font-style: italic;
    font-size: 1.125rem;
    margin: 20px 0 0;
  }
  
  .u-section-1 .u-layout-cell-3 {
    min-height: 387px;
    --radius: 30px;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 34px 30px;
  }
  
  .u-section-1 .u-icon-3 {
    height: 77px;
    width: 77px;
    margin: 0 auto;
    padding: 0;
  }
  
  .u-section-1 .u-text-5 {
    font-weight: 400;
    font-size: 1.875rem;
    margin: 14px 0 0;
  }
  
  .u-section-1 .u-text-6 {
    font-style: italic;
    font-size: 1.125rem;
    margin: 19px 0 0;
  }
  
  .u-section-1 .u-text-7 {
    font-size: 4.5rem;
    width: 695px;
    text-shadow: 2px 2px 8px rgba(128,128,128,1);
    margin: -667px auto 60px;
  }
  
  @media (max-width: 1199px) {
     .u-section-1 {
      min-height: 1067px;
    }
  
    .u-section-1 .u-image-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 940px;
      margin-top: -190px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 301px;
    }
  
    .u-section-1 .u-text-2 {
      width: auto;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 349px;
    }
  
    .u-section-1 .u-icon-2 {
      margin-right: 82px;
    }
  
    .u-section-1 .u-layout-cell-3 {
      min-height: 319px;
    }
  
    .u-section-1 .u-text-7 {
      margin-top: -705px;
      margin-left: calc(((100% - 940px) / 2)  + 123px);
      margin-right: calc(((100% - 940px) / 2)  + 123px);
    }
  }
  
  @media (max-width: 991px) {
     .u-section-1 {
      min-height: 1122px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 720px;
      margin-top: -192px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding: 30px 20px;
    }
  
    .u-section-1 .u-icon-2 {
      margin-right: 56px;
    }
  
    .u-section-1 .u-text-3 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-layout-cell-3 {
      min-height: 100px;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding: 30px 20px;
    }
  
    .u-section-1 .u-text-5 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-text-7 {
      width: auto;
      margin-top: -712px;
      margin-right: calc(((100% - 720px) / 2));
      margin-left: calc(((100% - 720px) / 2)  + 25px);
    }
  }
  
  @media (max-width: 767px) {
     .u-section-1 {
      min-height: 1543px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 540px;
      margin-top: -223px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 374px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-1 .u-icon-2 {
      margin-top: 14px;
      margin-right: auto;
    }
  
    .u-section-1 .u-text-3 {
      margin-top: 0;
    }
  
    .u-section-1 .u-container-layout-3 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-1 .u-text-7 {
      font-size: 2.25rem;
      width: 336px;
      margin-top: -1236px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-1 {
      min-height: 1759px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 340px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-1 .u-text-7 {
      font-size: 1.875rem;
      margin-top: -1356px;
      margin-left: calc(((100% - 340px) / 2));
      margin-right: calc(((100% - 340px) / 2));
    }
  }



  //footer
  
  