
<!--out navbar-->
<section class="u-align-center u-clearfix u-section-1" id="carousel_5c8d">
    <img src="../../../assets/images/taj-mahal-atardecer.webp" class="u-align-left u-expanded-width u-image u-left-0 u-image-1"
        data-image-width="1900" data-image-height="1108">
    <div class="data-layout-selected u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
            <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-left-cell u-palette-3-base u-radius u-shape-round u-size-20 u-layout-cell-1"
                    data-href="formulario-actividades">
                    <div class="u-container-layout u-container-layout-1"><span class="u-file-icon u-icon u-icon-1"><img
                                src="../../../assets/images/2819415.png" alt=""></span>
                        <h3 class="u-align-center u-text u-text-body-alt-color u-text-1">Buscar&nbsp;<br>Actividades
                        </h3>
                        <p class="u-align-center u-text u-text-body-alt-color u-text-2">Descubre aventuras inolvidable
                            con nuestras emocionantes actividades turísticas diseñadas para satisfacer los gustos de
                            todos los viajeros</p>
                    </div>
                </div>
                <div class="u-container-style u-custom-color-4 u-layout-cell u-radius u-shape-round u-size-20 u-layout-cell-2"
                    data-href="formulario-itinerario">
                    <div class="u-container-layout u-container-layout-2"><span class="u-file-icon u-icon u-icon-2"><img
                                src="../../../assets/images/4653458.png" alt=""></span>
                        <h3 class="u-align-center u-text u-text-body-alt-color u-text-3">Generar&nbsp;<br>itinerario
                        </h3>
                        <p class="u-align-center u-text u-text-body-alt-color u-text-4"> Experimenta la libertad de
                            explorar el mundo sin límites con nuestro innovador producto que te ofrece itinerarios de
                            viaje personalizados. <br>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="u-align-center u-container-style u-custom-color-2 u-layout-cell u-radius u-right-cell u-shape-round u-size-20 u-layout-cell-3"
                    data-href="formulario-restaurantes">
                    <div class="u-container-layout u-container-layout-3"><span
                            class="u-file-icon u-icon u-text-black u-icon-3"><img src="../../../assets/images/2424859-0d90f874.png"
                                alt=""></span>
                        <h3 class="u-text u-text-body-alt-color u-text-5">Buscar&nbsp;<br>Restaurantes
                        </h3>
                        <p class="u-text u-text-body-alt-color u-text-6"> Explora los sabores del mundo con nuestro
                            servicio de búsqueda de los mejores restaurantes, diseñado para los amantes de la buena
                            comida</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="u-align-center-sm u-align-center-xs u-text u-text-custom-color-5 u-text-7">¡Tu aventura&nbsp;<br>comienza
        aquí!
    </h2>
</section>



<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-04ba">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">H I K E<br>Copyright © 2024 H I K E. <br>All rights reserved.
        </p>
    </div>
</footer>
