<section class="u-clearfix u-palette-5-light-2 u-section-1" id="sec-2d22">
  <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
    <h3 class="u-align-center u-custom-font u-text u-text-font u-text-1">H I S T O R I A L </h3>
  </div>
</section>
<section class="u-align-center u-clearfix u-section-2" id="sec-8022">
  <div class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1">
    <div class="u-expanded-width u-tab-links-align-justify u-tabs u-tabs-1">
      <ul class="u-border-2 u-border-palette-1-base u-spacing-10 u-tab-list u-unstyled" role="tablist">
        <li class="u-tab-item" role="presentation">
          <a class="active u-active-custom-color-2 u-btn-round u-button-style u-palette-5-light-1 u-radius u-tab-link u-text-active-white u-text-black u-tab-link-1" id="link-tab-0da5" href="#tab-0da5" role="tab" aria-controls="tab-0da5" aria-selected="true">Actividades </a>
        </li>
        <li class="u-tab-item u-tab-item-2" role="presentation">
          <a class="u-active-custom-color-2 u-btn-round u-button-style u-palette-5-light-1 u-radius u-tab-link u-text-active-white u-text-black u-tab-link-2" id="tab-93fc" href="#link-tab-93fc" role="tab" aria-controls="link-tab-93fc" aria-selected="false">Itinerarios </a>
        </li>
        <li class="u-tab-item u-tab-item-3" role="presentation">
          <a class="u-active-custom-color-2 u-btn-round u-button-style u-palette-5-light-1 u-radius u-tab-link u-text-active-white u-text-black u-tab-link-3" id="link-tab-e325" href="#tab-e325" role="tab" aria-controls="tab-e325" aria-selected="false">Restaurantes </a>
        </li>
      </ul>
      <div class="u-tab-content">
        <div class="u-align-left u-container-style u-tab-active u-tab-pane u-white u-tab-pane-1" id="tab-0da5" role="tabpanel" aria-labelledby="link-tab-0da5">
          <div class="u-container-layout u-container-layout-1">
            <h4 class="u-custom-font u-text u-text-default-xl u-text-font u-text-1">Actividades </h4>
            <div class="u-expanded-width u-table u-table-responsive u-table-1">
              <table class="u-table-entity">
                <colgroup>
                  <col width="100%">
                </colgroup>
                <tbody class="u-table-alt-grey-5 u-table-body">
                  <tr *ngFor="let favorito of historialActividades">
                    <td class="u-table-cell">{{ favorito.lugar }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="u-align-left u-container-style u-tab-pane u-white u-tab-pane-2" id="link-tab-93fc" role="tabpanel" aria-labelledby="tab-93fc">
          <div class="u-container-layout u-container-layout-2">
            <h4 class="u-text u-text-font u-text-2">Itinerarios </h4>
            <div class="u-expanded-width u-table u-table-responsive u-table-2">
              <table class="u-table-entity">
                <colgroup>
                  <col width="100%">
                </colgroup>
                <tbody class="u-table-alt-grey-5 u-table-body">
                  <tr *ngFor="let itinerario of historialItinerarios">
                    <td class="u-table-cell">
                      <div *ngFor="let dia of itinerario.dias">
                        <div *ngFor="let actividad of dia.Manana">
                          <p> Lugar: {{actividad.lugar}} -> {{actividad.descripcion}}</p>
                        </div>
                        <div *ngFor="let actividad of dia.Tarde">
                          <p> Lugar: {{actividad.lugar}} -> {{actividad.descripcion}}</p>
                        </div>
                        <div *ngFor="let actividad of dia.Noche">
                          <p> Lugar: {{actividad.lugar}} -> {{actividad.descripcion}}</p>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="u-align-left u-container-style u-tab-pane u-white u-tab-pane-3" id="tab-e325" role="tabpanel" aria-labelledby="link-tab-e325">
          <div class="u-container-layout u-container-layout-3">
            <h4 class="u-text u-text-font u-text-3">Restaurantes </h4>
            <div class="u-expanded-width u-table u-table-responsive u-table-3">
              <table class="u-table-entity">
                <colgroup>
                  <col width="100%">
                </colgroup>
                <tbody class="u-table-alt-grey-5 u-table-body">
                  <tr *ngFor="let favorito of historialRestaurantes">
                    <td class="u-table-cell">{{ favorito.lugar }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-04ba">
  <div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-small-text u-text u-text-variant u-text-1">H I K E<br>Copyright Â© 2024
    </p>
  </div>
</footer>
<section class="u-backlink u-clearfix u-grey-80">
  <p class="u-text">
    <span>This site was created with the </span>
    <a class="u-link" href="https://nicepage.com/" target="_blank" rel="nofollow">
      <span>Nicepage</span>
    </a>
  </p>
</section>