.u-section-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('../../../assets/images/oia_santorini_hdr_sunset.jpg');
    background-position: 50% 100%;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 731px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    margin: 190px auto 0;
  }
  
  .u-section-1 .u-list-1 {
    margin-top: 35px;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 20px);
    grid-template-columns: repeat(3, calc(33.3333% - 20px));
    min-height: 201px;
    grid-gap: 30px;
  }
  
  .u-section-1 .u-list-item-1 {
    background-image: none;
    --radius: 15px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 0 10px 10px;
  }
  
  .u-section-1 .u-icon-1 {
    width: 64px;
    height: 64px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin: 10px auto 0;
  }
  
  .u-section-1 .u-btn-1 {
    --radius: 50px;
    border-style: solid;
    background-image: none;
    margin: 35px auto 0;
    padding: 0 8px;
  }
  
  .u-section-1 .u-icon-2 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-list-item-2 {
    background-image: none;
    --radius: 15px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 0 10px 10px;
  }
  
  .u-section-1 .u-icon-3 {
    width: 64px;
    height: 64px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin: 10px auto 0;
  }
  
  .u-section-1 .u-btn-2 {
    --radius: 50px;
    border-style: solid;
    background-image: none;
    margin: 35px auto 0;
    padding: 0 8px;
  }
  
  .u-section-1 .u-icon-4 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-list-item-3 {
    background-image: none;
    --radius: 15px;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 0 10px 10px;
  }
  
  .u-section-1 .u-icon-5 {
    width: 64px;
    height: 64px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-6 {
    font-size: 1.25rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-7 {
    font-size: 1rem;
    margin: 10px auto 0;
  }
  
  .u-section-1 .u-btn-3 {
    --radius: 50px;
    border-style: solid;
    background-image: none;
    margin: 35px auto 0;
    padding: 0 8px;
  }
  
  .u-section-1 .u-icon-6 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-list-item-4 {
    background-image: none;
    --radius: 15px;
  }
  
  .u-section-1 .u-container-layout-4 {
    padding: 0 10px 10px;
  }
  
  .u-section-1 .u-icon-7 {
    width: 64px;
    height: 64px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-8 {
    font-size: 1.25rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-9 {
    font-size: 1rem;
    margin: 10px auto 0;
  }
  
  .u-section-1 .u-btn-4 {
    --radius: 50px;
    border-style: solid;
    background-image: none;
    margin: 35px auto 0;
    padding: 0 8px;
  }
  
  .u-section-1 .u-icon-8 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-list-item-5 {
    background-image: none;
    --radius: 15px;
  }
  
  .u-section-1 .u-container-layout-5 {
    padding: 0 10px 10px;
  }
  
  .u-section-1 .u-icon-9 {
    width: 64px;
    height: 64px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-10 {
    font-size: 1.25rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-11 {
    font-size: 1rem;
    margin: 10px auto 0;
  }
  
  .u-section-1 .u-btn-5 {
    --radius: 50px;
    border-style: solid;
    background-image: none;
    margin: 35px auto 0;
    padding: 0 8px;
  }
  
  .u-section-1 .u-icon-10 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-gallery-nav-1 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
  }
  
  .u-section-1 .u-gallery-nav-2 {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
  }
  
  .u-section-1 .u-repeater-2 {
    grid-auto-columns: calc(33.3333% - 20px);
    grid-template-columns: repeat(3, calc(33.3333% - 20px));
    min-height: 182px;
    height: 182px;
    width: 372px;
    grid-gap: 30px;
    margin: -261px -666px 0 auto;
  }
  
  .u-section-1 .u-list-item-6 {
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-6 {
    padding: 10px;
  }
  
  .u-section-1 .u-icon-11 {
    width: 64px;
    height: 64px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-12 {
    font-size: 1.25rem;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-13 {
    font-size: 1rem;
    margin: 30px auto 0;
  }
  
  .u-section-1 .u-list-item-7 {
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-7 {
    padding: 10px;
  }
  
  .u-section-1 .u-icon-12 {
    width: 64px;
    height: 64px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-14 {
    font-size: 1.25rem;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-15 {
    font-size: 1rem;
    margin: 30px auto 0;
  }
  
  .u-section-1 .u-list-item-8 {
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-8 {
    padding: 10px;
  }
  
  .u-section-1 .u-icon-13 {
    width: 64px;
    height: 64px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-16 {
    font-size: 1.25rem;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-17 {
    font-size: 1rem;
    margin: 30px auto 0;
  }
  
  .u-section-1 .u-list-item-9 {
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-9 {
    padding: 10px;
  }
  
  .u-section-1 .u-icon-14 {
    width: 64px;
    height: 64px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-18 {
    font-size: 1.25rem;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-19 {
    font-size: 1rem;
    margin: 30px auto 0;
  }
  
  .u-section-1 .u-list-item-10 {
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-10 {
    padding: 10px;
  }
  
  .u-section-1 .u-icon-15 {
    width: 64px;
    height: 64px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-20 {
    font-size: 1.25rem;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-21 {
    font-size: 1rem;
    margin: 30px auto 0;
  }
  
  .u-section-1 .u-list-item-11 {
    background-image: none;
  }
  
  .u-section-1 .u-container-layout-11 {
    padding: 10px;
  }
  
  .u-section-1 .u-icon-16 {
    width: 64px;
    height: 64px;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-22 {
    font-size: 1.25rem;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
  }
  
  .u-section-1 .u-text-23 {
    font-size: 1rem;
    margin: 30px auto 0;
  }
  
  .u-section-1 .u-text-24 {
    margin: 40px -666px 0 auto;
  }
  
  .u-section-1 .u-btn-6 {
    --radius: 4px;
    background-image: linear-gradient(to right, #f8b6b9, white);
    border-style: solid;
    font-weight: 700;
    font-size: 0.9375rem;
    box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
    margin: 40px -666px 0 auto;
    padding: 7px 21px;
  }
  
  .u-section-1 .u-icon-17 {
    font-size: 0.7em;
  }
  
  .u-section-1 .u-btn-7 {
    --radius: 35px;
    background-image: none;
    border-style: solid;
    font-weight: 700;
    font-size: 1.125rem;
    box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
    margin: 0 auto;
    padding: 7px 35px 7px 34px;
  }
  
  .u-section-1 .u-icon-18 {
    font-size: 0.7em;
  }
  
  .u-section-1 .u-btn-8 {
    --radius: 4px;
    background-image: linear-gradient(to right, #f8b6b9, white);
    border-style: solid;
    font-weight: 700;
    font-size: 0.9375rem;
    box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
    margin: -7px -666px 60px auto;
    padding: 7px 21px;
  }
  
  .u-section-1 .u-icon-19 {
    font-size: 0.7em;
  }
  .margen-arriba{
    margin-top: 2rem!important;
  }

  .text-center{
    text-align: center!important;
  }
  .paddingx
  {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
  }


  .u-repeater {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    overflow: hidden;
  }
  
  .fade-out {
    opacity: 0;
    transform: translateX(-30%);
  }
  
  .fade-in {
    opacity: 1;
    transform: translateX(0);
  }

  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 603px;
    }
  
    .u-section-1 .u-icon-1 {
      margin-top: 9px;
    }
  
    .u-section-1 .u-text-2 {
      font-weight: 700;
      width: auto;
    }
  
    .u-section-1 .u-text-3 {
      width: 104px;
      margin-top: 12px;
    }
  
    .u-section-1 .u-icon-2 {
      font-size: 1.5em;
    }
  
    .u-section-1 .u-icon-3 {
      margin-top: 9px;
    }
  
    .u-section-1 .u-text-4 {
      font-weight: 700;
      width: auto;
    }
  
    .u-section-1 .u-text-5 {
      width: 104px;
      margin-top: 12px;
    }
  
    .u-section-1 .u-icon-4 {
      font-size: 1.5em;
    }
  
    .u-section-1 .u-icon-5 {
      margin-top: 9px;
    }
  
    .u-section-1 .u-text-6 {
      font-weight: 700;
      width: auto;
    }
  
    .u-section-1 .u-text-7 {
      width: 104px;
      margin-top: 12px;
    }
  
    .u-section-1 .u-icon-6 {
      font-size: 1.5em;
    }
  
    .u-section-1 .u-icon-7 {
      margin-top: 9px;
    }
  
    .u-section-1 .u-text-8 {
      font-weight: 700;
      width: auto;
    }
  
    .u-section-1 .u-text-9 {
      width: 104px;
      margin-top: 12px;
    }
  
    .u-section-1 .u-icon-8 {
      font-size: 1.5em;
    }
  
    .u-section-1 .u-icon-9 {
      margin-top: 9px;
    }
  
    .u-section-1 .u-text-10 {
      font-weight: 700;
      width: auto;
    }
  
    .u-section-1 .u-text-11 {
      width: 104px;
      margin-top: 12px;
    }
  
    .u-section-1 .u-icon-10 {
      font-size: 1.5em;
    }
  
    .u-section-1 .u-gallery-nav-1 {
      padding: 9px;
    }
  
    .u-section-1 .u-gallery-nav-2 {
      padding: 9px;
    }
  
    .u-section-1 .u-repeater-2 {
      min-height: NaNpx;
    }
  
    .u-section-1 .u-btn-8 {
      margin-bottom: 17px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 462px;
    }
  
    .u-section-1 .u-repeater-1 {
      grid-auto-columns: calc(50% - 15px);
      grid-template-columns: repeat(2, calc(50% - 15px));
    }
  
    .u-section-1 .u-text-3 {
      width: 109px;
      margin-top: 9px;
    }
  
    .u-section-1 .u-text-5 {
      width: 109px;
      margin-top: 9px;
    }
  
    .u-section-1 .u-text-7 {
      width: 109px;
      margin-top: 9px;
    }
  
    .u-section-1 .u-text-9 {
      width: 109px;
      margin-top: 9px;
    }
  
    .u-section-1 .u-text-11 {
      width: 109px;
      margin-top: 9px;
    }
  
    .u-section-1 .u-repeater-2 {
      grid-auto-columns: calc(50% - 15px);
      grid-template-columns: repeat(2, calc(50% - 15px));
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 347px;
    }
  
    .u-section-1 .u-repeater-1 {
      grid-auto-columns: calc(100% - 0px);
      grid-template-columns: 100%;
    }
  
    .u-section-1 .u-text-3 {
      width: 105px;
      margin-top: 6px;
    }
  
    .u-section-1 .u-text-5 {
      width: 105px;
      margin-top: 6px;
    }
  
    .u-section-1 .u-text-7 {
      width: 105px;
      margin-top: 6px;
    }
  
    .u-section-1 .u-text-9 {
      width: 105px;
      margin-top: 6px;
    }
  
    .u-section-1 .u-text-11 {
      width: 105px;
      margin-top: 6px;
    }
  
    .u-section-1 .u-repeater-2 {
      grid-auto-columns: calc(100% + 0px);
      grid-template-columns: 100%;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 218px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 1.875rem;
    }
  
    .u-section-1 .u-repeater-1 {
      grid-auto-columns: 100%;
    }
  
    .u-section-1 .u-text-3 {
      width: 113px;
    }
  
    .u-section-1 .u-text-5 {
      width: 113px;
    }
  
    .u-section-1 .u-text-7 {
      width: 113px;
    }
  
    .u-section-1 .u-text-9 {
      width: 113px;
    }
  
    .u-section-1 .u-text-11 {
      width: 113px;
    }
  
    .u-section-1 .u-gallery-nav-1 {
      top: 71px;
    }
  
    .u-section-1 .u-gallery-nav-2 {
      left: auto;
      top: 71px;
      right: 16px;
    }
  
    .u-section-1 .u-repeater-2 {
      grid-auto-columns: 100%;
    }
  }