<section class="u-clearfix u-image u-section-1" id="sec-466d" data-image-width="1000" data-image-height="667">
  <div class="u-clearfix u-sheet u-sheet-1">
    <span class="u-black u-file-icon u-icon u-icon-circle u-icon-1">
      <img src="../../../assets/images/15315561-7f527af0.png" alt="">
    </span>
    <div class="u-form u-form-1">
      <form (ngSubmit)="enviarFormularioRegistro()" #registerForm="ngForm" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px;">
        <div class="u-form-group u-form-name">
          <label for="name-b03b" class="u-label u-text-body-alt-color u-label-1">Nombre y Apellido</label>
          <input [(ngModel)]="nombre" type="text" placeholder="Introduzca nombre y apellido" id="name-b03b" name="name" class="u-border-2 u-input u-input-rectangle u-radius u-input-1" required>
        </div>
        <div class="u-form-email u-form-group">
          <label for="email-b03b" class="u-label u-text-body-alt-color u-label-2">Correo electrónico</label>
          <input [(ngModel)]="email" type="email" placeholder="Introduzca una dirección válida" id="email-b03b" name="email" class="u-border-2 u-input u-input-rectangle u-radius u-input-2" required>
        </div>
        <div class="u-form-group u-form-name u-form-group-3">
          <label for="name-edce" class="u-label u-text-body-alt-color u-label-3">Contraseña</label>
          <input [(ngModel)]="contrasena" type="password" placeholder="Introduzca una contraseña" id="name-edce" name="contrasena" class="u-border-2 u-input u-input-rectangle u-radius u-input-3" required>
        </div>
        <div class="u-align-center u-form-group u-form-submit">
          <button type="submit" class="u-btn u-btn-round sesion u-button-style u-custom-color-3 u-hover-custom-color-2 u-radius u-text-active-custom-color-2 u-text-body-color u-text-hover-palette-1-base u-btn-1">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</section>

<div id="modal" class="modal" [ngClass]="{'show': showModal}">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <p>{{ modalMessage }}</p>
  </div>
</div>

<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-04ba">
  <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">H I K E<br>Copyright © 2024 H I K E. <br>All rights reserved.
      </p>
  </div>
</footer>


