

    <section class="u-clearfix u-section-1" id="sec-18e2">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-1 u-border-black u-container-style u-expanded-width u-group u-group-1">
          <div class="u-container-layout u-container-layout-1"></div>
        </div>
      </div>
    </section>
    
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-04ba"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">H I K E<br>Copyright © 2024 
        </p>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <p class="u-text">
        <span>This site was created with the </span>
        <a class="u-link" href="https://nicepage.com/" target="_blank" rel="nofollow">
          <span>Nicepage</span>
        </a>
      </p>
    </section>
  

