.u-section-1 {
    background-image: linear-gradient(0deg, rgba(41,46,51,0.25), rgba(41,46,51,0.25)), url('../../../assets/images/935413_w1709h1123cx854cy558.jpg');
    background-position: 50% 50%;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 873px;
    margin-bottom: 0;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    font-weight: 700;
    width: 796px;
    margin: 96px auto 0;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: 398px;
    font-family: "Covered By Your Grace";
    margin: 12px auto 0;
  }
  
  .u-section-1 .u-form-1 {
    height: 572px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    width: 443px;
    margin: 27px auto 60px;
  }
  
  .u-section-1 .u-label-1 {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .u-section-1 .u-input-1 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-form-group-2 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-2 {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .u-section-1 .u-input-2 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-form-group-3 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-3 {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .u-section-1 .u-input-3 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-form-group-4 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-4 {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .u-section-1 .u-input-4 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-form-group-5 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-5 {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .u-section-1 .u-input-5 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-form-group-6 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-6 {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .u-section-1 .u-input-6 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: none;
    letter-spacing: 1px;
    font-size: 0.875rem;
    background-image: none;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 720px;
    }
  
    .u-section-1 .u-form-1 {
      margin: 41px 271px 48px 226px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 551px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 2.8125rem;
      width: 720px;
    }
  
    .u-section-1 .u-form-1 {
      width: 570px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 413px;
    }
  
    .u-section-1 .u-text-1 {
      width: 540px;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 2.0625rem;
    }
  
    .u-section-1 .u-form-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 260px;
    }
  
    .u-section-1 .u-text-1 {
      width: 340px;
      font-size: 2.0625rem;
    }
  
    .u-section-1 .u-text-2 {
      width: 340px;
      font-size: 1.75rem;
    }
  
    .u-section-1 .u-form-1 {
      margin-top: 40px;
      margin-bottom: 49px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  }

  .boton{
      margin-top: 1px;
      margin-bottom: 1px;
      position: relative;
      display: inline-block;
    
  }


  
  .spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo con transparencia */
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    border: 16px solid #f3f3f3; /* Gris claro */
    border-top: 16px solid #3498db; /* Azul */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  .spinner-text {
    margin-top: 20px;
    color: white;
    font-size: 1.5em;
    text-align: center;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  